body {
    padding-top: 60px;
}

.container {
    max-width: 100%;
    width: 100%;
}

tr.ignored td {
    opacity: 0.4;
}

td pre {
    font-size: 12px;
    padding: 3px 6px;
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.btn-xs {
    font-size: 12px;
    padding: 3px 6px;
}

.message-title {
    cursor: pointer;
}

.table {
    td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(3), td:nth-of-type(4) {
        width: 10px; /* Some small width, it will expand anyways, but it should only take as much space as needed */
    }
    td:nth-of-type(6) {
        width: 70px;
    }
}